image: node:10.13.0

pipelines:
  default:
    - step:
        caches:
          - node
        script:
          - yarn
          - yarn run test
          - cd client
          - yarn
          - yarn run test